* {
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
    padding: 0;
}

.action-wrapper {
    width: 100px;
    aspect-ratio: 1;
    border-radius: 50%;
}

.compSection {
    flex-grow: 1;

    .action-wrapper {
        background-color: #bc4749;
    }
}

.userSection {
    flex-grow: 1;

    .action-wrapper {
        background-color: #3d405b;
        margin-left: auto;
    }

}

#selected {
    .action-wrapper:not(#userChoice, #compChoice) {
        display: none;
    }

    #userChoice {
        position: relative;
        left: -90%;
        translate: 50%;
        transition: all 0.2s ease-in-out;
    }

    #compChoice {
        position: relative;
        left: 90%;
        translate: -50%;
        transition: left 0.2s ease-in-out;
    }
}

#counter {
    color: #003049;
    height: 50px;
    margin-top: 2rem;

    span {
        content: "";
        font-size: 18px;
        font-weight: 400;
    }
}

#reset {
    padding: 10px 20px;
    border: none;
    border-radius: 0.5rem;
    background-color: #22577a;
    color: white;
    display: block;
    margin-inline: auto;
    margin-top: 10px;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.font-15 {
    font-size: 4rem;
}

.vh-90 {
    height: 80vh;
}

.w-75 {
    width: 90%;
}

.mblock-10 {
    margin-block: 1rem;
}

.pointer {
    cursor: pointer;
}

.relative {
    position: relative;

}

.minline-auto {
    margin-inline: auto;
}

@media screen and (min-width:768px) {
    .w-75 {
        width: 75%;
    }

    .action-wrapper {
        width: 150px;
        aspect-ratio: 1;
        border-radius: 50%;
    }
}